Repository junwOpenSourceProjects/JOSP-SystemTempleVue3: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

refactor(ui): apply MiniMax Design System to all sub-pages — table/pagination/dialog/global components (phase 2)
  src/styles/index.scss
  src/views/demo/form/index.vue
  src/views/demo/table/index.vue
  src/views/log/login-log/index.vue
  src/views/monitor/online-users/index.vue
  src/views/notice/edit.vue
  src/views/notice/index.vue
  src/views/personal/index.vue
  src/views/system/config/index.vue
  src/views/system/dept/index.vue
  src/views/system/dict/components/dict-item.vue
  src/views/system/dict/index.vue
  src/views/system/menu/index.vue
  src/views/system/role/index.vue
  src/views/system/user/components/dept-tree.vue
  src/views/system/user/index.vue
  uno.config.ts
Due: prettier --write, stylelint --fix

chore: upgrade ESLint 10.2.1 / tui-editor fix / npm deps
  package.json
Due: prettier --write

chore: update .gitignore
  .gitignore
Due: none

chore: add pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: add .nuxt, .output, .data, .env to .gitignore and untrack
  .gitignore
Due: none

feat: upgrade to Nuxt 4 admin dashboard shell with sidebar
  .nuxt/nuxt-icon-server-bundle.mjs
  .nuxt/tsconfig.app.json
  .nuxt/tsconfig.json
  .nuxt/tsconfig.shared.json
  .nuxt/types/plugins.d.ts
  assets/css/main.css
  layouts/default.vue
  nuxt.config.ts
Due: prettier --write, stylelint --fix

feat: add API integration for backend
  app/api/index.js
  app/utils/request.js
Due: prettier --write

docs: add/update README
  README.md
Due: prettier --write

docs: add DESIGN.md
  DESIGN.md
Due: prettier --write

chore(deps): update dependencies to resolve security alerts
  pnpm-lock.yaml
Due: none

chore(deps): bump nuxt/vite to latest patch to resolve security alerts
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(config): correct baseURL syntax in nuxt.config.ts and bump nuxt to 4.4.8
  nuxt.config.ts
Due: prettier --write

chore(deps): add overrides to resolve security alerts
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): pnpm install 同步 @nuxt/ui 4.0.0 -> 4.9.0, vue-router 4.0.0 -> 5.1.0, typescript 5.0.0 -> 6.0.3
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,ts,vue}) or (any of: *.{json,yml})) or (any of: *.md)
  stylelint --fix: any of: *.{scss,css}
